/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul, ol {
  list-style: none; }

/* line 26, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*============
- @FONT FACE -
============*/
/* line 9, ../sass/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "heroregular", arial, sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: #58595c;
  margin-bottom: 10px; }

/* line 17, ../sass/_fonts.scss */
h2 {
  font-size: 23px; }

/* line 21, ../sass/_fonts.scss */
h3 {
  font-size: 18px; }

/* line 24, ../sass/_fonts.scss */
h4 {
  font-size: 16px; }

/* line 27, ../sass/_fonts.scss */
h5 {
  font-size: 14px; }

/* line 30, ../sass/_fonts.scss */
h6 {
  font-size: 12px; }

/* line 34, ../sass/_fonts.scss */
.deafult-text, p, ul, ol {
  font-family: Calibri, "asapregular", arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #58595c;
  margin-bottom: 10px; }

/* line 42, ../sass/_fonts.scss */
ul, ol {
  list-style-type: disc;
  padding-left: 15px; }

/* line 47, ../sass/_fonts.scss */
ol {
  list-style-type: decimal; }

/* line 52, ../sass/_fonts.scss */
nav {
  font-family: Calibri, "asapregular", arial, sans-serif;
  font-size: 14px;
  color: #58595c; }
  @media screen and (max-width: 1024px) {
    /* line 52, ../sass/_fonts.scss */
    nav {
      font-size: 16px; } }
  @media screen and (max-width: 640px) {
    /* line 52, ../sass/_fonts.scss */
    nav {
      font-size: 18px; } }

/* line 61, ../sass/_fonts.scss */
footer {
  font-size: 100px; }
  /* line 63, ../sass/_fonts.scss */
  footer ul li a, footer ol li a {
    line-height: 135px;
    color: #58595c; }
    @media screen and (max-width: 640px) {
      /* line 63, ../sass/_fonts.scss */
      footer ul li a, footer ol li a {
        line-height: 100px;
        position: relative;
        top: 5px; } }
  /* line 68, ../sass/_fonts.scss */
  footer ul li a:hover, footer ol li a:hover {
    color: white; }
  /* line 71, ../sass/_fonts.scss */
  footer #search {
    line-height: 125px; }

/* line 77, ../sass/_fonts.scss */
#very-footer p, #very-footer ul, #very-footer ol {
  font-family: "heroregular", arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  top: 6px; }
  @media screen and (max-width: 640px) {
    /* line 77, ../sass/_fonts.scss */
    #very-footer p, #very-footer ul, #very-footer ol {
      font-size: 10px;
      top: 5px; } }
  @media screen and (max-width: 320px) {
    /* line 77, ../sass/_fonts.scss */
    #very-footer p, #very-footer ul, #very-footer ol {
      font-size: 9px;
      top: 4.5px; } }

/* line 88, ../sass/_fonts.scss */
ul.symbol li, ol.symbol li {
  font-size: 60px; }

/*============
--- HEADER ---
============*/
/* line 4, ../sass/_googlebar.scss */
#googleSearchBar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  background: #f2f2f2;
  opacity: .97;
  overflow: hidden;
  padding: 0 8px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -kthtml-transition: all .2s linear; }
  /* line 23, ../sass/_googlebar.scss */
  #googleSearchBar input[type=search] {
    -webkit-appearance: none;
    height: 33.33333px;
    position: relative;
    top: 9.09091px;
    width: 70%;
    float: left;
    background-color: white;
    -moz-box-shadow: 0 0 0 white;
    -webkit-box-shadow: 0 0 0 white;
    box-shadow: 0 0 0 white;
    border: 1px solid #dddddd;
    border-right: none;
    font-family: calibri, 'asapregular', arial, sans-serif;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  /* line 41, ../sass/_googlebar.scss */
  #googleSearchBar input[type=search]:focus {
    border: 1px solid #4688f1;
    -moz-box-shadow: 0 0 0 white;
    -webkit-box-shadow: 0 0 0 white;
    box-shadow: 0 0 0 white;
    outline: none; }
  /* line 46, ../sass/_googlebar.scss */
  #googleSearchBar button {
    -webkit-appearance: none;
    height: 33.33333px;
    position: relative;
    top: 9.09091px;
    float: left;
    width: 30%;
    line-height: 0;
    background-color: #4688f1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0s linear; }
  /* line 65, ../sass/_googlebar.scss */
  #googleSearchBar button:hover {
    -webkit-transition: all 0s linear;
    -moz-box-shadow: 0 3px 0 -2px #d9d9d9;
    -webkit-box-shadow: 0 3px 0 -2px #d9d9d9;
    box-shadow: 0 3px 0 -2px #d9d9d9; }
  /* line 69, ../sass/_googlebar.scss */
  #googleSearchBar button:active {
    -webkit-transition: all 0s linear;
    background: #2e79ef;
    -moz-box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.15); }

/* line 77, ../sass/_googlebar.scss */
#googleSearchBar.scrolled {
  -webkit-transition: all .2s linear;
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  background: #f2f2f2; }

/* line 83, ../sass/_googlebar.scss */
#googleSearch {
  position: absolute;
  width: 300px;
  margin: 0 auto;
  padding: 0 10px;
  right: 0px;
  height: 50px;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    /* line 83, ../sass/_googlebar.scss */
    #googleSearch {
      position: static;
      width: 50%; } }
  @media only screen and (max-width: 40em) {
    /* line 83, ../sass/_googlebar.scss */
    #googleSearch {
      width: 100%; } }

/* line 105, ../sass/_googlebar.scss */
.spacer {
  height: 50px; }

/*============
---- NAV ----
============*/
/* line 5, ../sass/_nav.scss */
ul#main-nav, ol#main-nav {
  position: relative;
  top: 25px; }
  @media screen and (max-width: 640px) {
    /* line 5, ../sass/_nav.scss */
    ul#main-nav, ol#main-nav {
      top: 0;
      margin: 0 -30px;
      margin-left: -10px; } }
  /* line 14, ../sass/_nav.scss */
  ul#main-nav li, ol#main-nav li {
    z-index: 0;
    background: #d9d9d9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 2px; }
    @media screen and (max-width: 640px) {
      /* line 14, ../sass/_nav.scss */
      ul#main-nav li, ol#main-nav li {
        margin: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 0 0;
        text-align: center;
        margin-right: 3px;
        position: relative; } }
    /* line 34, ../sass/_nav.scss */
    ul#main-nav li a, ol#main-nav li a {
      color: #58595c;
      padding: 10px 40px 20px 40px; }
      @media screen and (max-width: 640px) {
        /* line 34, ../sass/_nav.scss */
        ul#main-nav li a, ol#main-nav li a {
          position: relative;
          top: 4px;
          padding: 5px 20px 10px 20px; } }
  /* line 44, ../sass/_nav.scss */
  ul#main-nav li.current_page_item, ol#main-nav li.current_page_item {
    background: #f2f2f2; }

/*============
---- BODY ----
============*/
/* line 6, ../sass/_body.scss */
#main-grid h3 {
  margin: 20px 0;
  text-align: left; }
  @media screen and (max-width: 1024px) {
    /* line 6, ../sass/_body.scss */
    #main-grid h3 {
      text-align: center; } }
/* line 13, ../sass/_body.scss */
#main-grid p, #main-grid ul, #main-grid ol {
  margin-bottom: 20px; }
/* line 16, ../sass/_body.scss */
#main-grid img {
  margin: 15px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

/* line 22, ../sass/_body.scss */
.item-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden; }

/* line 29, ../sass/_body.scss */
.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px; }

/* line 35, ../sass/_body.scss */
#main-content {
  padding: 20px;
  background: #f2f2f2;
  position: relative;
  z-index: 2; }

/* line 42, ../sass/_body.scss */
#sidebar {
  padding: 20px;
  text-align: center; }

/* line 47, ../sass/_body.scss */
article {
  padding-bottom: 20px; }

/* line 3, ../sass/_twitter-widget.scss */
li.widget_twitter-tracker {
  list-style: none; }
  /* line 5, ../sass/_twitter-widget.scss */
  li.widget_twitter-tracker .tweets {
    list-style: none;
    text-align: left; }
    /* line 8, ../sass/_twitter-widget.scss */
    li.widget_twitter-tracker .tweets li {
      margin: 30px 0 15px 0; }
    /* line 11, ../sass/_twitter-widget.scss */
    li.widget_twitter-tracker .tweets .avatar {
      max-width: 50px;
      float: left; }
    /* line 15, ../sass/_twitter-widget.scss */
    li.widget_twitter-tracker .tweets .msg {
      margin-left: 60px; }
      /* line 17, ../sass/_twitter-widget.scss */
      li.widget_twitter-tracker .tweets .msg .twit {
        width: 100%;
        font-weight: 700; }
    /* line 22, ../sass/_twitter-widget.scss */
    li.widget_twitter-tracker .tweets .info {
      margin-top: 5px;
      margin-left: 60px; }
      /* line 25, ../sass/_twitter-widget.scss */
      li.widget_twitter-tracker .tweets .info a {
        color: lightgrey; }
    @media all and (max-width: 1024px) and (min-width: 641px) {
      /* line 30, ../sass/_twitter-widget.scss */
      li.widget_twitter-tracker .tweets .avatar {
        display: none; }
      /* line 33, ../sass/_twitter-widget.scss */
      li.widget_twitter-tracker .tweets .msg {
        margin-left: 0px; }
      /* line 36, ../sass/_twitter-widget.scss */
      li.widget_twitter-tracker .tweets .info {
        margin-left: 0px; } }

/*============
--- FOOTER ---
============*/
/* line 5, ../sass/_footer.scss */
footer {
  text-align: center; }
  /* line 7, ../sass/_footer.scss */
  footer ul li, footer ol li {
    display: inline-block; }
  /* line 10, ../sass/_footer.scss */
  footer .middle {
    margin: 0 40px; }
  /* line 13, ../sass/_footer.scss */
  footer img {
    position: relative;
    top: 10px; }

/* line 19, ../sass/_footer.scss */
#footer-container {
  background: #2e3a41;
  color: white;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #0d1113; }

/* line 27, ../sass/_footer.scss */
#very-footer {
  background: #1b2227;
  text-align: center;
  color: #58595c;
  line-height: 30px; }

/*============
--- GENERAL ---
============*/
/* line 49, ../sass/screen.scss */
HTML {
  background: #2e3a41; }
