/*============
---- BODY ----
============*/

#main-grid {
  h3 {
    margin: 20px 0;
    text-align: left;
    @media screen and (max-width: $break-medium) {
      text-align: center;
    }
  }
  img {
    margin: 15px 0;
    @include border-radius($icon-border-radius);
  }
  div.large-8 {
    margin-bottom: 10px;
  }
  .easySpoilerWrapper {
    p {
      color: darken($background-grey,15%);
      text-align: left;
    }
  }
}

div.large-4 {
  height: auto;
  @media screen and (min-width: $break-large-up) { // Large and up
    height: 161px;
  }
}

.item-container {
  @include border-radius($default-border-radius);
  @include box-shadow($default-box-shadow);
  background: white;
  overflow: hidden;
}

.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

#main-content {
  padding: 20px;
  background: $background-grey;
  position: relative;
  z-index: 2;
}

#sidebar {
  padding: 20px;
  text-align: center;
}

article {
  padding-bottom: 20px;
}