/*============
--- FOOTER ---
============*/

$very-footer-background: shade($charcoal, 40%);

footer {
  text-align: center;
  ul li {
    display: inline-block;
  }
  .middle {
    margin: 0 40px;
  }
  img {
    position: relative;
    top: 10px;
  }
}

#footer-container {
  background: $charcoal;
  color: white;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px shade($charcoal, 70%);
}

#very-footer {
  background: $very-footer-background;
  text-align: center;
  color: $grey-text;
  line-height: 30px;
  
  // Fixes a white line underneath the very footer.
  border-bottom: 1px solid $very-footer-background;
}