/*============
---- NAV ----
============*/

nav.small-12 {
  height: 38px;
  margin-left: -10px;
  @media screen and (max-width: $break-medium) { margin-left: 10px; }
  @media screen and (max-width: $break-small) { height: auto; }

  ul#main-nav {
    @media screen and (max-width: $break-small) { margin: 0 -30px 0 -20px; }

    li {
      background: shade($background-grey, 10%);
      @include border-radius($nav-radius);
      margin: 0 2px;

      @media screen and (max-width: $break-small) { @include border-radius(7px 7px 0 0); }
      
      a {
        color: $grey-text;
        padding: 7px 40px;
        @media screen and (max-width: $break-small) { 
          padding: 7px 25px; 
        }
      }
    }
    
    li.current_page_item { background: $background-grey; }
  }
}