// _twitter-widget.scss

li.widget_twitter-tracker {
	list-style: none;
	.tweets{
		list-style: none;
		text-align: left;
		li {
			margin: 30px 0 15px 0;
		}
		.avatar {
			max-width: 50px;
			float: left;
		}
		.msg {
			margin-left: 60px;
			.twit {
				width: 100%;
				font-weight: 700;
			}
		}
		.info {
			margin-top: 5px;
			margin-left: 60px;
			a {
				color: lightgrey;
			}
		}
		@media all and (max-width: 1024px) and (min-width: 641px) {
			.avatar {
				display: none;
			}
			.msg {
				margin-left: 0px;
			}
			.info {
				margin-left: 0px;
			}
		}
	}
}