/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// VARS
$background-grey: #F2F2F2;
$charcoal: #2E3A41;
$grey-text: #58595C;
$default-box-shadow: 0 4px 5px rgba(0,0,0,.1);
$no-shadow: 0 0 0 #fff;

$default-border-radius: 10px;
$icon-border-radius: 8px;
$nav-radius: 10px 10px 0 0;

$search-height: 50px;
$search-radius: 3px;
$search-box-shadow: 0 4px 5px rgba(0,0,0,.05);

$google-search-grey: #F2F2F2;
$google-search-border: #DDDDDD;
$google-blue: #4688F1;
$google-button-shadow: #D9D9D9;
$google-hover-border: #C6C6C6;


// Breakpoints
$break-small: 640px;
$break-medium: 1024px;
$break-large: 1440px;

// Imports
@import "compass/reset";
@import "compass";

// Partials
@import 'fonts';
@import 'googlebar';
@import 'nav';
@import 'body';
@import 'twitter-widget';
@import 'footer';


/*============
--- GENERAL ---
============*/

HTML {
  background: $charcoal;
}